<div class="main-content-inner" ng-init="genrarReportesInit()">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="Principal.html#!/">Inicio</a>
            </li>
            <li class="active">Reportes</li>
            <li class="active">Generar Reportes</li>

        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">

        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>
                        Generar Reportes
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Permite generar reportes en varios formatos
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <br>
                <br>

                    <div class="form-group">
                    <label class="control-label no-padding-right"> Fitrado por mes:  </label>
                    <input type="month" id="mes" step="1" min="2017-12" max="2050-12" value="" >

                        <button class="btn btn-info" type="submit" ng-click="fecha_buscar()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Aceptar
                        </button>
                    </div>


                <br>
                <br>
<!--

                <div  class="table-responsive" ng-init="initListarDescuentosImpri()">
                    <table class="table table-striped table-bordered table-hover" id="tableEstado_cuenta1">
                        <thead >
                        <tr class="headings">

                            <th class="column-title" style="text-align:center">Cedula del docente</th>
                            <th class="column-title" style="text-align:center">Nombre Docente</th>
                            <th class="column-title" style="text-align:center">Valor a pagar</th>
                        </tr>
                        </thead>

                        <tbody style="text-align:center;">
                        <tr class="even pointer" ng-repeat="x in listEstado_Docente">

                            <td class=" "> {{x.R[0].cedula}}</td>
                            <td class=" " >{{x.R[0].nombres}} {{x.R[0].apellidos}} </td>
                            <td class=" " > {{x.valor_x_pagar | currency}}</td>


                        </tr>

                        </tbody>
                    </table>
                </div>
                -->
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <h4 class="blue">
                            .
                        </h4>
                    </div>
                    <div>
                    <h4 class="blue">
                        Busqueda por periodo: del {{fecha_mos_ini}} al {{fecha_mos_fin}}
                    </h4>
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="table-header">
                        Results for "Latest Registered Domains"
                    </div>

                    <div  class="table-responsive" >
                        <table class="table table-striped table-bordered table-hover" id="tableEstado_cuenta">
                            <thead >
                            <tr class="headings">

                                <th class="column-title" style="text-align:center">Reporte</th>
                                <th class="column-title" style="text-align:center">Tipo Archivo</th>
                                <th class="column-title" style="text-align:center">Descripcion</th>

                            </tr>
                            </thead>

                            <tbody style="text-align:center;">
                            <tr class="even pointer">

                                <td class=" "> Estado Cuenta Docentes</td>
                                <td class=" " >
                                    <button class="btn btn-danger btn-xs" ng-click="ReporteCuenta_estado(listEstado_Docente)">
                                        <i class="ace-icon fa fa-file-pdf-o  bigger-110 icon-only"></i>
                                    </button>

                                    <button class="btn btn-success btn-xs" ng-click="ReporteCuenta_estadoEcxel(listEstado_Docente)">
                                    <i class="ace-icon fa fa-file-excel-o  bigger-110 icon-only"></i>
                                </button> </td>
                                <td class=" " >Permite imprimir el listado de los docentes con los valores a pagar del mes actual </i></td>

                            </tr>

                            <tr class="even pointer">

                                <td class=" "> Cierre de mes</td>
                                <td class=" " >

                                    <button class="btn btn-danger btn-xs" ng-click="ReporteCerrar_mes(listaMesIngresos)">
                                        <i class="ace-icon fa fa-file-pdf-o  bigger-110 icon-only"></i>
                                    </button>

                                </td>
                                <td class=" " >Permite imprimir el listado de los egresos del mes actual </i></td>

                            </tr>
                            <tr class="even pointer">

                                <td class=" "> Reporte Consolidado</td>
                                <td class=" " >


                                    <button class="btn btn-success btn-xs" >
                                        <i class="ace-icon fa fa-file-excel-o  bigger-110 icon-only"></i>
                                        <a href="http://localhost:63342/APUNACH/Web_APUNACH/prueba.xlsx" download="reporte.xlsx"></a>
                                    </button>
                                    descargarConsolidado
                                    <button class="btn btn-success btn-xs" ng-click="descargarconsolidado(id)">

                                    </button>


                                </td>

                                </td>




                                <td class=" " >Permite imprimir un resumen de todos los movimientos del la Apunach </i></td>

                            </tr>

                            <tr class="even pointer">

                                <td class=" ">Ganancias x Locales</td>
                                <td class=" " >


                                    <button class="btn btn-danger btn-xs" ng-click="ReporteGananciaxLocal()">
                                        <i class="ace-icon fa fa-file-pdf-o  bigger-110 icon-only"></i>
                                    </button>

                                </td>
                                <td class=" " >Permite imprimir el listado de las ganancias por los locales </i></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--<input type="button" value="Genera una tabla" ng-click="genera_tabla()">->

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>