
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="Principal.html#!/">Inicio</a>
            </li>
            <li class="active">Tipo de cuentas</li>
            <li class="active">Tipo Cuentas Egresos</li>
            <li class="active">Ingresar tipo de cuentas de egreso</li>

        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">

        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>
                Ingreso de tipo de cuentas de egresos
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Ingrese los datos del tipo de cuentas de egresos
                </small>
            </h1>

        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form" ng-submit="registrarTipoCuentaEgreso()">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idTipoCuentaEgreso"> Descripcion: </label>
                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="idTipoCuentaEgreso"  ng-model="descripcion" placeholder="Descripcion del tipo de cuenta egreso" required class="col-md-7 col-xs-12" maxlength="30"/>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Aceptar
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>

                    <div class="col-xs-12">

                        <div class="table-header">
                            Results for "Latest Registered Domains"
                        </div>

                        <!-- tabla-->

                        <div  class="table-responsive" ng-init="initListarTipoCuentasEgreso()">
                            <table class="table table-striped table-bordered table-hover" id="tableTipoCuentasEgreso">
                                <thead >
                                <tr class="headings">

                                    <th class="column-title" style="text-align:center">Descripcion de tipo de cuenta de egreso</th>
                                    <th class="column-title" style="text-align:center">Accion</th>
                                </tr>
                                </thead>

                                <tbody style="text-align:center;">
                                <tr class="even pointer" ng-repeat="x in listTipoCuentasEgreso">

                                    <td class=" "> {{x.descripcion}}</td>
                                    <td class=" " ><div class="hidden-sm hidden-xs action-buttons">

                                        <a class="green" ng-click="modificarTipoCunetaEgreso(x)">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" ng-click="eliminarTipoCunetaEgreso(x)">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                    <li>
                                                        <a   class="tooltip-success" data-rel="tooltip" title="Edit" ng-click="modificarTipoCunetaEgreso(x)">
																				<span class="green">
																					<i class="ace-icon fa fa-pencil-square-o bigger-120" ></i>
																				</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a  class="tooltip-error" data-rel="tooltip" title="Delete" ng-click="eliminarTipoCunetaEgreso(x)">
																				<span class="red">
																					<i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div></td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

    </div><!-- /.page-content -->
