
    <div class="breadcrumbs ace-save-state" id="breadcrumbs" >
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="Principal.html#!/">Inicio</a>
            </li>
            <li class="active">Locales</li>
            <li class="active">Ingreso locales</li>

        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">

        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>
                Ingreso de locales
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Locales afiliados
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form" ng-submit="registrarLocales()">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idnamelocal"> Nombre: </label>
                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="idnamelocal"  ng-model="nombre" placeholder="Nombre" required class="col-md-7 col-xs-12" onkeypress="return soloLetras(event)" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idruc"> Ruc: </label>
                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="idruc"  ng-model="ruc" placeholder="Ruc" required class="col-md-7 col-xs-12" minlength="13" maxlength="13" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12  control-label no-padding-right" for="iddireccion"> Direccion:</label>

                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="iddireccion" ng-model="direccion" placeholder="Direccion" required class="col-md-7 col-xs-12" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idcreditomax"> Credito max:</label>

                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="number" id="idcreditomax" step="0.01" ng-model="creditomax" placeholder="Credito maximo" required class="col-md-7 col-xs-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idfechaacuerdo"> Fecha de inicio de acuerdo:</label>

                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="idfechaacuerdo" ng-model="fecha_acuerdo" placeholder="Fecha de inicio de acuerdo" required class="col-md-7 col-xs-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idtelefono"> Telefono:</label>

                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="idtelefono" ng-model="telefono" placeholder="Ingrese telefono" required class="col-md-7 col-xs-12" minlength="7" maxlength="10" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idporcentage"> % de ganancia:</label>

                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="number" id="idporcentage" ng-model="porcentage" placeholder="Porcentage de ganancia" required class="col-md-7 col-xs-12" />
                        </div>
                    </div>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Aceptar
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

    </div><!-- /.page-content -->
