
    <div class="breadcrumbs ace-save-state" id="breadcrumbs" ng-init="initModificarTipoDescuento()">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="Principal.html#!/">Inicio</a>
            </li>
            <li class="active">Tipo Descuentos</li>
            <li class="active">Modificar tipo descuentos</li>

        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">

        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>
                Modificar tipo descuentos
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Modificar datos de tipo descuentos
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form" ng-submit="modiTipoDescuento()">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="iddescripcion_para"> Descripcion: </label>
                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="text" id="iddescripcion_para"  ng-model="tipodescuento.descripcion" placeholder="Descripcion" required class="col-md-7 col-xs-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 col-xs-12 control-label no-padding-right" for="idvalor_para"> Valor: </label>
                        <div class="col-md-7 col-sm-6 col-xs-10">
                            <input type="number" id="idvalor_para" step="0.01" ng-model="tipodescuento.valor" placeholder="Ingrese el valor" required class="col-md-7 col-xs-12" />
                        </div>
                    </div>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Aceptar
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="button" ng-click="cancelarModificarTipoDescuento()">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>

    </div><!-- /.page-content -->
